/* 为当前项目 个性化 提供的全局样式 */

body{
  min-width: 1000px;
}

.base-width{
  width: 1000px;
  margin: 0 auto;
}

.breadcrumb{
  padding: 10px 0;
}
.breadcrumb>a{
  color: #333;

}

.lh{
  overflow: hidden;
  height: 2em;
  line-height: 1em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}