#main{
  >div{
    // justify-content: center;
    >.zuo{
      // box-sizing: content-box;
      width: 130px;
      flex-direction: column;
      margin-bottom: 200px;
      >ul{
        >li{
          padding: 5px;
          width: 100px;
          // height: 20px;
          margin: 10px;
          background-color: lightblue;
          border-radius: 5px;
          text-align: center;
          &.active{
            background-color: orange;
            color: white;
          }
        }
      }

    }
    >.you{
      // box-sizing: content-box;

      margin: 45px 40px;
      flex-direction: column;
      >div{
        flex-direction: column;

      }
     
      >div:nth-child(2){
        >img{
          margin: 10px;
          width: 70px;
          height: 70px;
          border-radius: 50%;
        }
        >button{
          margin-top: 10px;
          width: 100px;
          height: 30px;
          border-radius: 10px;
          background-color: orangered;
          color: white;
          line-height: 30px;
          text-align: center;
        }
        >div{
          overflow: auto;
          width: 730px;
          height: 365px;
          margin-top: 10px;
          // overflow: hidden;
          >.lists{
            margin-top: 10px;
            display: flex;
            flex-wrap: wrap;
            >li{
              margin: 5px;
              >img{
                width: 60px;
                height: 60px;
              }
            }
          }

        }
        
      }
      >div:nth-child(7){
        >button{
          margin-top: 50px;
          width: 100px;
          height: 30px;
          border-radius: 10px;
          background-color: orangered;
          color: white;
          line-height: 30px;
          text-align: center;
        }
      }

    }
  }
}
#footer{
  display: none;
  position: fixed;
  left: 20vw;
  
  bottom: 0vh;
}