#main{
  background-color: #f6f6f6;
  >div{
    flex-direction: column;
    >ul{
      display: flex;
      flex-wrap: wrap; 
      >li{
        margin: 3px;
        width: calc((100% - 2 * 10px) / 3);
        position: relative;
       
        
        >span:nth-child(3){
          color: white;
          display: block;
          background-color: rgba(0,0,0,.4);
          border-radius: 5px;
          padding: 3px;
          position: absolute;
          left: 5px;
          bottom: 45px;
        }
        >span:nth-child(2){
          display: block;
          background-color: rgba(0,0,0,.4);
          border-radius: 5px;
          padding: 3px;
          color: white;

          position: absolute;
         
          right: 10px;
          top: 0;
          
        }
        >p{
          padding: 10px;
        }
      }
    }
    >button{
      // width: 150px;
      height: 36px;
      // margin:  0 auto;
      font-size: 30px;
      margin: 10px auto 20px;
      background-color: lightblue;
      height: 50px;
      line-height: 1em;
      border-radius: 20px;
      width: 80%;
      &:active{
        background-color: grey;
        color: white;
        box-shadow: 0 0 10px 1px black;
      }
      
    }
    >.pages{
      justify-content: center;
      margin: 10px 0 20px;
      >ul{
        display: flex;
        >li{
          width: 36px;
          line-height: 36px;
          background-color: white;
          text-align: center;
          margin: 0 5px;
          border-radius: 5px;

          &.active{
            color: white;
            background-color: orange;
          }
        }
        >button{
          background-color: lightgrey;
          height: 36px;
          border-radius: 10px;
          width: 70px;
          &:active{
            opacity: .6;
            background-color: grey;
            box-shadow: 0 0 2px 2px lightblue;
          }
        }
      }
    }
  }
}